
.icon-right-open:before { content: '\31'; } /* '1' */
.icon-search:before { content: '\32'; } /* '2' */
.icon-chart-bar:before { content: '\33'; } /* '3' */
.icon-fire:before { content: '\34'; } /* '4' */
.icon-globe:before { content: '\35'; } /* '5' */
.icon-down-open:before { content: '\36'; } /* '6' */